/* 
Sheldon Smith
Date: 10/24/25
File: stlyes.css 
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for image */
img {
      max-width: 100%;
      display: block;

/* Style rules for mobile viewport */

/*Hide tab-desk class */

.tab-desk {
    display: none;
}

}

/* Style rules for header content */
header {
    text-align: center;
    font-size: 1.5em;
    color: #373684;
}

header h1 {
    font-size: italic;
}

/* Style rules for navigation area */
nav {
    background-color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 2em;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding; 0.5em 1em;
    text-decoration: none; 
}

/* Style rules for main content */
main {
    padding: 2%;
    background-color: #e5e9fc;
    overflow: auto;
    font-family: Verdana, Arial, sans-serif;
}

main p {
    font-size: 1.25em;
}

.action {
    font-size: 1.75em;
    color:#373684;
    font-weight: bold;
}

#piano, #guitar, #violin {
     width: 29%;
     float: left;
     margin: 0 2%;
}

#info {
    clear: left;
    background-color: #c0caf7;
    padding: 1% 2%;
}

.round {
    border-radius: 8px;
}

#contact .email-link {
    color: #4645a8;
    text-decoration: none;
    font-weight: bold;
}

.tel-link {
    background-color: #373684;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.text-link a {
    color:#fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.map {
    border: 5px solid #373684;
    width: 95%; height: 50%;
}



/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 2em;
    clear: left;   
}

footer a {
    color: #4645a8;
    text-decoration: none;
}

/* Media Query for Table Viewport */
@media screen and (min-width: 550px), print {
/*Tablet Viewport: Style rules for nav area. */ 
}

.nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.5em;
    view-transition-class: inherit;
}

/* Tablet Viewport: Show tab-desk class, hide mobile class */
.tab-desk {
    display: block;
}
.mobile {
    display; none;
}
/* Tablet Viewport: Style rule for header content */
span.tab-desk {
    display: inline;
}

