/*
Author: Sheldon Smith
Date: Current Date
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border-top: 1px solid #e5e9fc;
}

/* Style rule for images */
img{
    border-radius: 200px;
    display:list-item;
}

/* Style rule for box sizing applies to all elements */
* {
    box-sizing: border-box;
}
/* Style rules for mobile viewport */

aside { 
    text-align: center; 
    font-size: 1.5em;
    font-weight: bold;
    color: #373684;
    text-shadow: 3px 3px 10px #8280cb;
}

figure {
    position: relative;
    max-width: 275px;
    margin: 2% auto;
    border: 8px solid #373684;
}

figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(55, 54, 132, 0.7);
    color: #fff;
    width: 100%;
    padding: 5% 0;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}


/* Hide tab-desk class */

.tab-desk {
    display: none;
}

/* Style rules for header content */
header {
    text-align: center;
    font-size: 1.5em;    color: black;
}

header h1 {
    font-style: italic;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

.mobile-nav{
  display: none;
}

/* Style rules for navigation area */
/* Navigation container */
nav {
    background-color: #050d41; /* dark blue background */
}

/* Navigation list */
.nav-list{
  display: block;
}
.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
  margin: 0;
}

/* Navigation item */
.nav-list li {
  margin: 0 20px;
}

/* Navigation links */
.nav-list a {
    color: white; /* white text */
    text-decoration: none;
    font-weight: bold;
    background: none; /* remove any white box background */
    padding: 0.25em 0.5em;
}

/* Hover effect */
.nav-list a:hover {
    text-decoration: underline;
}

/* Style rules for main content */
main {
    padding: 2%;
    background-color: #e5e9fc;
    overflow: auto;
    font-family: Verdana, Arial, sans-serif;
}

main p {
    font-size: 1.25em;
}

.action {
    font-size: 1.25em;
    color: blue;
    font-weight: bold;
}

#piano, #guitar, #violin {        
        margin: 0 2%;
}

#info {
      clear: left;
      background-color: #c0caf7;
      padding: 1% 2%;
      margin: 10%;
}

#round class {
    border-radius: 8px;
}

#contact {
     text-align: center;
}

#index {
     text-align: center;
}
#rental {
     text-align: center;
}h2

.tel-link {
    background-color: #373684;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}
.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

#contact .email-link {
     color: #4645a8;
     text-decoration: none;
     font-weight: bold;
}

.map {
     border: 5px solid whitesmoke;
     width: 95%;
     height: 50%;
}

/* Style rule for table */

table {
    border: 1px solid #373684;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

Caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

th, td {
    border: 1px solid #373684;
    padding: 2%;
}

th {
   background-color: #373684;
   color: #fff;
   font-size: 1.15em;
}

tr:nth-child(odd) {
    background-color: #b7b7e1;
}

/* Style rules for form elements */
fieldset, input { margin-bottom: 2%;
}

fieldset legend { font-weight: bold; font-size: 1.25em;
}

label { display: block; padding-top: 3%;
}

#submit { margin-top: 0%; margin-bottom: 0%; margin-left: auto; margin-right: auto;
display: block; padding: 3%; background-color: #b7b7e1; font-size: 1em;
}

/* Style rules for footer content */
footer {
      text-align: center;
      font-size: 0.65em;
      clear: left;

}

footer a {
     color: whitesmoke;
     text-decoration: wavy;
}

.social img {
    display: inline-block;
    padding: 4%;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .nav-list{
    display: none;
  }
  .tab-desk {
    display: none;
  }

  #menu-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #050d41;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050d41;
    padding: 1em;
    position: relative;
  }

  .mobile-nav a {
    color: #fff;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
  }

  .mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .menu-icon div {
    height: 50px;
    width: 50px;
    background-color: #373684;
  }

  .mobile-nav.active #menu-links {
    display: flex;
  }
}

/* Tablet Styles */
@media screen and (min-width: 481px) and (max-width: 768px) {
  nav ul li {
    display: inline-block;
    font-size: 0.9em;
  }

  nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.5em;
    border-right: 1px solid #e5e9fc;
  }

  nav li a {
    padding: 0.25em 0.5em;
  }

  .map {
    width: 500px;
    height: 450px;
  }

  form {
    width: 70%;
    margin: 0 auto;
  }

  /* Tablet Viewport: Style rules for footer area */
  .copyright {
      float: left;
      width: 65%;
  }

  .social {
      float: right;
      width: 25%;
  }

  .tab-desk {
    display: block;
  }

  .mobile {
    display: none;
  }

  span.tab-desk {
    display: inline;
  }

  aside {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-column: 1 / 4;
  }

  figcaption {
    font-size: 1em;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Desktop Styles */
@media screen and (min-width: 769px) {
  header {
    padding: 2%;
  }

  nav li a {
    padding: 0.5em 1.5em;
    color: #373684;
    background-color: #e5e9fc;
  }

  #info ul {
    margin-left: 5%;
  }

  main h3 {
    font-size: 1.5em;
  }

  #piano,
  #guitar,
  #violin {
    width: 29%;
    float: left;
    margin: 0 2%;
  }
}

/* Media Query for Print */

@media print {
    body {
        font-family: serif;
        color: black;
        background-color: white;
    }
    header, footer, nav, aside {
        display: none;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

body {
    background-color: #fff;
    color: #000;
}

/* Desktop Viewport: Style rules for table */

table { 
    width: 70%;
}

/* Desktop Viewport: Style rules for form elements */

css
.form-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.btn {
    grid-column: 1 / span 2;
}

/* navbar */

.navbar {
  background-color: #f0f0f0; 
  padding: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
}

.navbar a {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

.navbar a:hover {
  background-color: #ccc;
}