body {
    background-color: #050d41; color-scheme: inherit;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header{font-size: large;
    
}

footer{font-size: large;

}

h1 {font-style: oblique;

}

nav ul li {
    font-size: 1.5em;
}

/* Style the form container */
form {
    display: flex;
    align-items: center;
    gap: 10px; /*Space between input and button */
}

/* Style the input field */
#search-input {
    padding: 8px 12px;
    border: 1px solid #142de5;
    border-radius: 4px;
    font-size: 16px;
}

/* Style the search button */
button [type="submit"] {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #5164ef;
}