body {
    background-color: #939ff5; color-scheme: inherit;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header{font-size: large;

}

footer{font-size: large;

}

h1 {font-style: oblique;
}

/* Style rule for navigation area */
/* Navigation container */
nav {
  background-color: #050D41; /* dark blue background */
}

/* Navigation list */
.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
  margin: 0;
}

/* Navigation items */
.nav-list li {
  margin: 0 20px;
}

/* Navigation links */
.nav-list a {
  color: white; /* white text */
  text-decoration: none;
  font-weight: bold;
  background: none; /* removes any white box background */
  padding: 0.25em 0.5em;
}

/* Hover effect */
.nav-list a:hover {
  text-decoration: underline;
}


/* Style the form container */
form {
    display: flex;
    align-items: center;
    gap: 10px; /*Space between input and button */
}

/* Style the input field */
#search-input {
    padding: 8px 12px;
    border: 1px solid #142de5;
    border-radius: 4px;
    font-size: 16px;
}

/* Style the search button */
button [type="submit"] {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #5164ef;
}

nav li a:hover {
  color: #000;
  background-color: #fff;
  transform: scale(1.3);
}

.frame:hover {
     opacity: 1;
     box-shadow: 8px 8px 10px #808080;
     transform: translateY(10px);
}

@keyframes my-animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}